
Техническое задание
Разработать программу, позволяющую шифровать и расшифровывать текст с использованием шифра Цезаря.
Программа должна поддерживать несколько режимов работы:
1) Шифровка текста
2) Расшифровка текста с помощью ключа
3) Расшифровка текста с помощью brute force (перебор всех вариантов - опционально) i.e. writing each outcome with any possible key combinations into file

- программа должна открывать указанный пользователем файл с текстом
- проделывать с ним одно из указанных выше действий
- после этого создавать новый файл с результатом
- обеспечивать обработку больших файлов - to be handled through buffered reader/writers
- иметь валидацию входных данных

- files to be used are txt files in UTF-8 (including empty ones)


Опционально:
- добавить графический интерфейс пользователя
- расшифровка с помощью статистического анализа текста

a) adding sample text1 for git testing
